INGEST_PORT=8080
QUERY_PORT=8081

INGEST_URL=http://localhost:8080
ORDER_SERVICE_URL=http://localhost:9001
PAYMENT_SERVICE_URL=http://localhost:9002
INVENTORY_SERVICE_URL=http://localhost:9003

DB_USER=logpipeline
# NOTE: use this command to generate password "openssl rand -hex 32"
DB_PASSWORD=my_super_secure_password_2026
DB_NAME=logpipeline
DB_PORT=5432

REDIS_ADDR=localhost:6379
REDIS_PASS=
REDIS_DB=0

REDIS_STREAM_NAME=ingest_stream
REDIS_GROUP_NAME=log_processors
REDIS_DEAD_LETTER_NAME=dead_letter_stream
CONSUMER_BATCH_SIZE=50
CONSUMER_BLOCK_TIMEOUT=2s
CONSUMER_IDLE_THRESHOLD=15s
CONSUMER_RECOVERY_TICK=15s
NOTIFY_PAYLOAD_LIMIT=7500

HEADER_TRACE_ID=X-Trace-Id
HEADER_SPAN_ID=X-Span-Id

QUERY_DEFAULT_PAGE_SIZE=50
QUERY_MAX_PAGE_SIZE=200
QUERY_LISTENER_FALLBACK_LIMIT=20